p {
	text-align:center;
	color: white;
 }/*Setting the text alignment to the center, and the colour of the text to white, for all paragraphs*/

 h1 { 
 	color:black;
 	border:medium;
 	border-style:solid;
 	background-color:white;
 	text-align: center;
 }/*Setting the appearance of the largest heading (<h1>), giving it a border, a border style and a background colour.*/

 strong {
 	padding-left: 45%; 
 	color: white;
 }/*Setting the padding and text colour for all bold text*/

 a {
	color:white;
 }/*Changing the font colour of links to white*/

 section {
 	padding-top: 5px
 }/*Adding a small amount of padding to each section, to separate them out slightly*/

 body {
 	background-color: #68829E 
}/*Adding a default background colour to all body elements*/

li {
	color: white;
	padding-left: 50px;
}/*Adding text colour and a small amount fo padding to list items, to separate them out*/

ol li 
{
    float: left;
    display: block;
}/*Setting the appearance of the list on the About page. It displays the list as a block, and makes each item 'float' according to how much space is left*/

i {
	color:white;
}/*This makes the icons from the FontAwesome stylesheet white, to match the background colour*/

.Black_Bars{
	background-color: black; 
	width: 100%; 
	height: 1px;
}/*Using the class reference, adding styling to the black bars that searate each section, to make sure that they: 
have a black background,
go across the whole screen (whatever the size of the browser) and
are one pixel in height*/

#Title_Section{
	padding:25px;
	padding-left: 100px;
	padding-right: 100px;
}/*This id is used  to center the title text in the same way across all webpages*/

#copyright {
	margin-top: 40px;
	margin-left: 49%;
	color:white;
}/*This ID centers the copyright symbol, using padding to place it in the centre at the bottom. It also turns the colour of the symbol to white*/

a:hover {
	color: grey;/*if and when the user hovers over the a tags, (the links on the page) the colour will turn grey*/
}

a:visited {
	color:#ACACAC;/*After the user clicks the link on the <a> tag, the colour of the text will change to a very light grey*/
}
